* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.large-header, .small-header, .text, img {
    margin: 25px;
}

.large-header, .small-header {
    padding: 8px;
    background-color: aliceblue;
    
}

h1 {
    font-weight: bolder;
    font-size: 60px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

.text {
    font-size: 20px;
    background-color: rgb(242, 220, 255);
}

a {
    font-size: 30px;
    font-weight: 400;
}