* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.large-header, .small-header, .text, .image {
    margin: 25px;
}

.large-header, .small-header {
    padding: 16px;
    background-color: aliceblue;
    
}

.button-box {
    display: flex;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bolder;
    font-size: 60px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

.text {
    font-size: 20px;
    background-color: rgb(242, 220, 255);
    padding: 26px;
}

.text.list {
    padding-left: 40px;
}

a {
    font-size: 30px;
    font-weight: 400;
}